* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    height: 5rem;
    width: 100%;
    line-height: 5rem;
    border: 2px solid black;
    background-color: #081b31;
    color: #fff;
}

.container {
    height: 70vmin;
    width: 70vmin;
    border-radius: 50%;
    border: 4px solid black;
    position: relative;  
    overflow: hidden;    
    background: white;
    margin-top: 20px;
}

.ball {
    position: absolute;
    top: 10px;         
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

.btns {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
